body {
  background-color: rgb(84, 25, 160);
}

.signup-container {
  background-color: #b697e9;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.205);
  width: 300px;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"],
.signup-container input[type="number"] {
  width: 100%;
  padding: 6px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.signup-container input[type="text"]:focus,
.signup-container input[type="email"]:focus,
.signup-container input[type="password"]:focus,
.signup-container input[type="number"]:focus {
  border-color: rgb(84, 25, 160);
  outline: none;
}

.signup-container .gender-container {
  margin: 10px 0;
}
.signup-container .gender-container label {
  margin-right: 10px;
}
.signup-container button {
  width: 100%;
  padding: 10px;
  background-color: rgb(84, 25, 160);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.signup-container button:hover {
  background-color: white;
  border: 1px solid rgb(84, 25, 160);
  color: rgb(84, 25, 160);
}
.signup-container p {
  text-align: center;
  margin-top: 20px;
}
.signup-container a {
  color: rgb(84, 25, 160);
  text-decoration: none;
}
.signup-container a:hover {
  text-decoration: underline;
}

.message {
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.success {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
}

.error {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
}
